html {
  font-size: 62.5%;
  /* width: 100%;
  height: 100%; */
}
body {
  margin: 0;
}
.nav-bar {
  display: flex;
  height: 5vh;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding: 2rem;
  justify-content: space-between;
}
.nav-title {
  display: flex;
  align-items: center;
}
.memory-icon {
  width: 2.3rem;
  height: 2.7rem;
  margin-right: 1rem;
}
.page-name {
  font-size: 2.5rem;
}
.nav-bar .nav-icon {
  margin-left: 2rem;
  font-size: 3rem;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: rgb(233, 233, 233);
}
.contents-div {
  display: inline-block;
  margin: 1rem;
}
.book-img,
.movie-img {
  position: absolute;
  width: 10rem;
  height: 14rem;
  border: 0.1rem solid rgb(209, 209, 209);
  z-index: 1;
}
.clendar-div {
  cursor: pointer;
}
#file-browser {
  display: none;
}
.file-icon {
  background: none;
  border: none;
  padding: 0;
}
.img-div {
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 14rem;
  margin: 1rem;
}
.book-icon,
.movie-icon,
.clendar-div {
  font-size: 3rem;
}
.edit-menu {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clicked-img {
  z-index: 1;
  transition-duration: 0.5s;
  -webkit-filter: blur(1px) opacity(0.3) drop-shadow(0 0 0 white);
  filter: blur(1px) opacity(0.3) drop-shadow(0 0 0 white);
}
.memo-div {
  display: inline-block;
  float: right;
  width: 30vw;
  height: 85vh;
  background-color: rgb(218, 218, 218);
  /* border-left: 1px solid grey; */
}
.invisible {
  display: none;
}
.memo-nav {
  padding-left: 1rem;
  font-size: 2rem;
  border-bottom: 0.1rem solid white;
}
.memo-nav .save-btn,
.close-btn {
  cursor: pointer;
}
.memo-space {
  width: 100%;
  height: 45rem;
}
.memo-space textarea {
  border: none;
  background: none;
  outline: none;
  width: inherit;
  height: inherit;
  overflow-y: auto;
  /* padding-left: 10px; */
}
.save-alarm {
  position: absolute;
  top: 1%;
  font-size: 1rem;
  margin-left: 1%;
}
